.form-signin {
    max-width: 330px;
    padding: 1rem;
    padding-top: 2rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
.box{
    padding-top: 25rem;
   text-align: center;
}
.button{
    padding-top: 1rem;
    background-size: 10cm;
    font-size: 15px;
}